.section-title-download {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    text-align: center;
  }
  .section {
    text-align: center;
  }
  .p-download {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    text-align: center;
  }
  .button-download {
    min-width: 214px;
    min-height: 60px;
    left: 613px;
    top: 2968px;
    border-radius: 32px;
    padding: 12px 46px 12px 46px;
    background: #000000;
    border-radius: 32px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-decoration: none;
  }