.hero-section{
    
    width: 100%;
    height: 598px;
   padding: 200px;
    text-align: center;
    

    
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),    url("/src/images/hero-img/Rectangle\ 22.jpg");
     
    
    
      background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
  


     
  
   



   
}

.hero-h1,
.hero-h2{
   
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 60px;
/* identical to box height */


color: #FFFFFF;
.hero-h2{
    font-weight: 400;
  
}

}
