@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  color: #000000;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

body {
  font-family: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.section-title {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 27px;
  margin-top: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.sign-up {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 46px;
  border-radius: 20px;
}
@media (min-width: 480px) {
  .sign-up {
    width: 270px;
    max-height: 315px;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .sign-up {
    width: 612px;
    height: 700px;
  }
}
@media (min-width: 768px) {
  .sign-up {
    width: 481px;
    height: 506px;
  }
}

.log-in {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 46px;
  border-radius: 20px;
}
@media (min-width: 480px) {
  .log-in {
    width: 270px;
    max-height: 254px;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .log-in {
    width: 612px;
    height: 571px;
  }
}
@media (min-width: 768px) {
  .log-in {
    width: 481px;
    height: 409px;
  }
}

.modal-button {
  position: absolute;
  top: 424px;
  left: 235px;
  width: 142px;
  height: 56px;
  border: 0;
  border-radius: 50%;
  background-image: url(../images/close.svg);
  background-size: contain;
}

.hero-section {
  width: 100%;
  height: 598px;
  padding: 200px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/src/images/hero-img/Rectangle 22.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-h1,
.hero-h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height */
  color: #FFFFFF;
}
.hero-h1 .hero-h2,
.hero-h2 .hero-h2 {
  font-weight: 400;
}

@media (max-width: 767px) {
  .section-screenshots {
    margin-bottom: 22px;
  }
}
@media (min-width: 768px) {
  .section-screenshots {
    margin-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .section-screenshots {
    margin-bottom: 46px;
  }
}

@media (max-width: 767px) {
  .section-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 11px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .section-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 22px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .section-title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 27px;
  }
}

@media (min-width: 768px) {
  .screenshots-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px -9px;
  }
}
@media (min-width: 1200px) {
  .screenshots-list {
    display: flex;
    flex-wrap: wrap;
    margin: -23px -30px;
  }
}

@media (max-width: 767px) {
  .screenshot-item {
    width: 183px;
    height: 101px;
    margin: auto;
  }
  .screenshot-item:not(:last-child) {
    margin-bottom: 11px;
  }
}
@media (min-width: 768px) {
  .screenshot-item {
    width: calc((100% - 54px) / 3);
    margin: 15px 9px;
  }
}
@media (min-width: 1200px) {
  .screenshot-item {
    width: calc((100% - 180px) / 3);
    margin: 23px 30px;
  }
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 480px) {
  .gallery-list {
    margin: -16px;
  }
}

.gallery-item {
  border-radius: 16px;
  background-color: #D9D9D9;
}
@media (min-width: 480px) {
  .gallery-item {
    width: calc((100% - 64px) / 2);
    margin: 16px;
    margin-top: 24px;
  }
}

@media (min-width: 480px) {
  .gallery-link {
    height: 132px;
  }
}/*# sourceMappingURL=index.css.map */