.section{
    @media (max-width: 767px) {
        margin-bottom: 22px;
    }
    
    @media (min-width: $tablet) {
        margin-bottom: 42px;
    }

    @media (min-width: $desktop) {
        margin-bottom: 46px;
    }
}

.section-title{
    @media (max-width: 767px) {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 11px;
        text-align: center;
    }
    
    @media (min-width: $tablet) {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 22px;
        text-align: center;
    }

    @media (min-width: $desktop) {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 27px;
    }
}

.screenshots-list{
    @media (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px -9px;
    }

    @media (min-width: $desktop) {
        display: flex;
        flex-wrap: wrap;
        margin: -23px -30px;
    }
}

.screenshot-item{
    @media (max-width: 767px) {
        width: 183px;
        height: 101px;
        margin: auto;

        &:not(:last-child){
            margin-bottom: 11px;
        }
    }

    @media (min-width: $tablet) {
        width: calc((100% - 9px * 6) / 3);
        margin: 15px 9px;
    }

    @media (min-width: $desktop) {
        width: calc((100% - 30px * 6) / 3);
        margin: 23px 30px;
    }
}