// :root {
//     --primery-text-color: #000000;
//     --background-filters-color: #DBDBDB;
//     --header-color: #464646;
// }
$primery-text-color: #000000;
$background-filters-color: #DBDBDB;
$header-color: #464646;