<section class="section about">
    <div class="container">
        <img class="main-icon" src="./images/main-icon.jpg" alt="icon of game">
        <ul class="ul-about">
            <li class="li-about"><p class="p-about">Name: The last of us 2</p></li>
            <li class="li-about"><p class="p-about">Genre:</p></li>
            <li class="li-about"><p class="p-about">Languages:</p></li>
            <li class="li-about"><p class="p-about">Dubbing languages:</p></li>
            <li class="li-about"><p class="p-about">Developer:</p></li>
        </ul>
    </div>
</section>