
<section class="section">
    <div class="container">
     <div class="show-less">
      <p class="show-title">show less</p>
      <svg class="svg-description" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <!-- <use href="/src/images/icons/downarrow.svg"></use> -->
        <line x1="0.353553" y1="6.71749" x2="7.42462" y2="13.7886" stroke="black"/>
        <line x1="6.71749" y1="13.7886" x2="13.7886" y2="6.7175" stroke="black"/>
        </svg>
     </div>
      <h2 class="section-title">
      description
      </h2>
     <p class="text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore maxime molestiae modi? Reiciendis molestias tenetur aspernatur repellendus iste officia quia ratione eaque delectus fuga? Hic, nihil recusandae! At, eius non.
     </p>
    </div>
    
  
  </section>