<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
<section class="section">
    <div class="container">
        <h2 class="section-title-download">Download guide</h2>
        <p class="p-download">Lorem ipsum dolor sit amet , consectetur adipiscing elit , sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua . Ut enim ad minim veniam , quis nostrud 
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat . Duis aute irure 
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur .</p>
            <button type="button" class="button-download">Download</button>
    </div>
</section>