<section class="section">
        <div class="container filter-container">
            <div class=".mobile-container">
                <svg class="svg-filter">
                    <use href="images/icons/filter-icons.svg#icon-filter"></use>
                </svg>
                <select class="filter" name="user_profile_color_1"> 
                    <option value="">Filter</option>
                </select>
                <svg class="svg-arrow">
                    <use href="images/icons/downarrow.svg#icon-arrow"></use>
                </svg>
            </div>
            <div class="search-container">
                <input class="search" type="text" placeholder="Пошук">
                <button type="button" class="button">
                    <svg class="svg">
                        <use href="images/icons/search.svg#icon-search"></use>
                    </svg>
                </button>
            </div>
        </div>
    </section>