<section class="section-filter">
        <div class="container">
            <svg width="18" heigth="18" class="svg-filter">
                <use href="images/icons/filter-filled.svg"></use>
            </svg>
            <select class="filter" name="user_profile_color_1"> 
                <option value="">Filter</option>
            </select>
            <svg width="10" heigth="10" class="svg-filter">
                <use href="images/icons/downarrow.svg"></use>
            </svg>
            <input class="search" type="text" placeholder="Пошук">
            <button type="button" class="button">
                <svg width="27" heigth="27" class="svg">
                    <use href="images/icons/search.svg"></use>
                </svg>
            </button>
        </div>
    </section>