<footer class=" footer">
    <div class="footer-items">
        <div class="footer-contacts">
        <a class=" footer-logo" href=""> <span>Top</span>Games</a>
    <ul class="footer-contacts-list">
        <li> <p class="footer-contacts-link"> Ukraine, Kyiv, Khreshchatyk 1</p> </li>
        <li><p class="footer-contacts-link" >+38 011 111 11 11</p></li>
    </ul>
    </div>
    <!-- Приєднуйтесь -->
   <div class="join">
        <ul class="social-network-list">
            <li class="network-item">
                <a class="social-link" href="">
                    <svg class="social-icon" width="38" height="38">
                        <use href="../images/icons/instagram.svg"></use>
                    </svg>
                </a>
            </li>
            <li class="network-item">
                <a class="social-link" href="">
                    <svg class="social-icon" width="38" height="38">
                        <use href="../images/icons/telegram.svg"></use>
                    </svg>
                </a>
            </li>
            <li class="network-item">
                <a class="social-link" href="">
                    <svg class="social-icon" width="38" height="38">
                        <use href="../images/icons/facebook.svg"></use>
                    </svg>
                </a>
            </li>
            <li class="network-item">
                <a class="social-link" href="">
                    <svg class="social-icon" width="38" height="38">
                        <use href="../images/icons/youtube.svg"></use>
                    </svg>
                </a>
            </li>
        </ul>
   </div>
</div>
</footer>