<footer class="footer">
    <div class="footer-container">
            <!-- Контакти -->
            <div class="footer-contacts">
            <a class="footer-logo" href=""><span>Top</span>Games</a>
            <address class="addres">
                <ul class="footer-list">
                    <li class="footer-items"><p class="footer-addres">Ukraine, Kyiv, Khreshchatyk 1</p></li>
                    <li class="footer-items"><a class="footer-contacts-link" href="tel:+380111111111">+38 011 111 11 11</a></li>
                </ul>
            </address>
        </div>
    </div>
    <!-- Іконки -->
     <div class="join">
        <ul class="social-network-list">
            <li class="network-item">
                <a href="" class="social-link">
                    <svg class="social-icon" width="38" height="38">
                        <use src=""></use>
                    </svg>
                </a>
            </li>
            <li class="network-item">
                <a href="" class="social-link">
                    <svg class="social-icon" width="38" height="38">
                        <use src=""></use>
                    </svg>
                </a>
            </li>
            <li class="network-item">
                <a href="" class="social-link">
                    <svg class="social-icon" width="38" height="38">
                        <use src=""></use>
                    </svg>
                </a>
            </li>
            <li class="network-item">
                <a href="" class="social-link">
                    <svg class="social-icon" width="38" height="38">
                        <use src=""></use>
                    </svg>
                </a>
            </li>
        </ul>
     </div>
</footer>
