<section class="section">
    <div class="container">
        <h2 class="visually-hidden">Галерея ігор</h2>
        <ul class="gallery-list">
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Beyond.jpg" alt="іконка гри Beyond two souls" class="card-img">
                    <p class="card-name">Beyond two souls</p>
                    <!-- MODAL BEYOND -->
                    <ul class="information-points">
                        <li class="information-point">
                            <p>Name: Beyond two souls</p>
                        </li>
                        <li class="information-point">
                            <p>Genre:</p>
                        </li>
                        <li class="information-point">
                            <p>Languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Dubbing languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Developer:</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Farcry3.jpg" alt="іконка гри Far Cry 3" class="card-img">
                    <p class="card-name">Far Cry 3</p>
                    <!-- MODAL FAR CRY 3 -->
                    <ul class="information-points">
                        <li class="information-point">
                            <p>Name: Far cry 3</p>
                        </li>
                        <li class="information-point">
                            <p>Genre:</p>
                        </li>
                        <li class="information-point">
                            <p>Languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Dubbing languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Developer:</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Rust.jpg" alt="іконка гри Rust" class="card-img">
                    <p class="card-name">Rust</p>
                    <!-- MODAL RUST -->
                    <ul class="information-points">
                        <li class="information-point">
                            <p>Name: Rust</p>
                        </li>
                        <li class="information-point">
                            <p>Genre:</p>
                        </li>
                        <li class="information-point">
                            <p>Languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Dubbing languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Developer:</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Stalker.jpg" alt="іконка гри S.T.A.L.K.E.R" class="card-img">
                    <p class="card-name">S.T.A.L.K.E.R</p>
                    <!-- MODAL S.T.A.L.K.E.R -->
                    <ul class="information-points">
                        <li class="information-point">
                            <p>Name: S.T.A.L.K.E.R.</p>
                        </li>
                        <li class="information-point">
                            <p>Genre:</p>
                        </li>
                        <li class="information-point">
                            <p>Languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Dubbing languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Developer:</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Farcry4.jpg" alt="іконка гри Far Cry 4" class="card-img">
                    <p class="card-name">Far Cry 4</p>
                    <!-- MODAL FAR CRY  -->
                    <ul class="information-points">
                        <li class="information-point">
                            <p>Name: Far cry 4</p>
                        </li>
                        <li class="information-point">
                            <p>Genre:</p>
                        </li>
                        <li class="information-point">
                            <p>Languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Dubbing languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Developer:</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Metro-exodus.jpg" alt="іконка гри METRO EXODUS" class="card-img">
                    <p class="card-name">METRO EXODUS</p>
                    <!-- METRO EXODUS -->
                    <ul class="information-points">
                        <li class="information-point">
                            <p>Name: Metro Exodus</p>
                        </li>
                        <li class="information-point">
                            <p>Genre:</p>
                        </li>
                        <li class="information-point">
                            <p>Languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Dubbing languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Developer:</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Mafia2.jpg" alt="іконка гри Mafia 2" class="card-img">
                    <p class="card-name">Mafia 2</p>
                    <!-- MODAL MAFIA 2 -->
                    <ul class="information-points">
                        <li class="information-point">
                            <p>Name: Mafia 2</p>
                        </li>
                        <li class="information-point">
                            <p>Genre:</p>
                        </li>
                        <li class="information-point">
                            <p>Languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Dubbing languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Developer:</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/GTA5.jpg" alt="іконка гри GTA 5" class="card-img">
                    <p class="card-name">GTA 5</p>
                    <!-- MODAL GTA 5 -->
                    <ul class="information-points">
                        <li class="information-point">
                            <p>Name: GTA 5</p>
                        </li>
                        <li class="information-point">
                            <p>Genre:</p>
                        </li>
                        <li class="information-point">
                            <p>Languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Dubbing languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Developer:</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/GTA4.jpg" alt="іконка гри GTA 4" class="card-img">
                    <p class="card-name">GTA 4</p>
                    <!-- MODAL GTA 4 -->
                    <ul class="information-points">
                        <li class="information-point">
                            <p>Name: GTA 4</p>
                        </li>
                        <li class="information-point">
                            <p>Genre:</p>
                        </li>
                        <li class="information-point">
                            <p>Languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Dubbing languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Developer:</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Deltaarune.jpg" alt="іконка гри Deltarune" class="card-img">
                    <p class="card-name">Deltarune</p>
                    <!-- MODAL DELTARUNE -->
                    <ul class="information-points">
                        <li class="information-point">
                            <p>Name: Deltarune</p>
                        </li>
                        <li class="information-point">
                            <p>Genre:</p>
                        </li>
                        <li class="information-point">
                            <p>Languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Dubbing languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Developer:</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Detroid.jpg" alt="іконка гри Detroit" class="card-img">
                    <p class="card-name">Detroit</p>
                    <!-- MODAL DETROIT -->
                    <ul class="information-points">
                        <li class="information-point">
                            <p>Name: Detroit</p>
                        </li>
                        <li class="information-point">
                            <p>Genre:</p>
                        </li>
                        <li class="information-point">
                            <p>Languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Dubbing languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Developer:</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Halo-infinite.jpg" alt="іконка гри Halo Infinite" class="card-img">
                    <p class="card-name">Hallo Infinite</p>
                    <!-- MODAL HALLO INFINITE -->
                    <ul class="information-points">
                        <li class="information-point">
                            <p>Name: Hallo Infinite</p>
                        </li>
                        <li class="information-point">
                            <p>Genre:</p>
                        </li>
                        <li class="information-point">
                            <p>Languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Dubbing languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Developer:</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Horizon.jpg" alt="іконка гри Horizon Zero Dawn" class="card-img">
                    <p class="card-name">Horizon Zero Dawn</p>
                    <!-- MODAL HORIZON -->
                    <ul class="information-points">
                        <li class="information-point">
                            <p>Name: Horizon</p>
                        </li>
                        <li class="information-point">
                            <p>Genre:</p>
                        </li>
                        <li class="information-point">
                            <p>Languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Dubbing languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Developer:</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Hello-neighbor.jpg" alt="іконка гри Hello Neighbor"
                        class="card-img">
                    <p class="card-name">Hello Neighbor</p>
                    <!-- MODAL HELLO NEIGHBOR -->
                    <ul class="information-points">
                        <li class="information-point">
                            <p>Name: Hello Neighbor</p>
                        </li>
                        <li class="information-point">
                            <p>Genre:</p>
                        </li>
                        <li class="information-point">
                            <p>Languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Dubbing languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Developer:</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/RDR2 20.jpg" alt="іконка гри RDR 2" class="card-img">
                    <p class="card-name">RDR 2</p>
                    <!-- MODAL RDR 2 -->
                    <ul class="information-points">
                        <li class="information-point">
                            <p>Name: RDR 2</p>
                        </li>
                        <li class="information-point">
                            <p>Genre:</p>
                        </li>
                        <li class="information-point">
                            <p>Languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Dubbing languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Developer:</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-item" id="last-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Cuerpunk2077.jpg" alt="іконка гри Cyberpunk 2077" class="card-img">
                    <p class="card-name">Cyberpunk 2077</p>
                    <!-- MODAL CYBERPUNK -->
                    <ul class="information-points">
                        <li class="information-point">
                            <p>Name: Cyberpunk 2077</p>
                        </li>
                        <li class="information-point">
                            <p>Genre:</p>
                        </li>
                        <li class="information-point">
                            <p>Languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Dubbing languages:</p>
                        </li>
                        <li class="information-point">
                            <p>Developer:</p>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>
    </div>
</section>