<section class="section">
    <div class="container">
        <h2 class="visually-hidden">Галерея ігор</h2>
        <ul class="gallery-list">
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Beyond.jpg" alt="іконка гри Beyond two souls" class="card-img">
                    <p class="card-name">Beyond two souls</p>
                
                <div class="overlay">
                    <img class="overlay-icon" src="images/gallery-img/Beyond.jpg" alt="Beyond">
                    <!-- <li class="game-information"> -->
                    <p>Name: Beyond two souls</p>
                        <p>Genre:</p>
                        <p>Languages:</p>
                        <p>Dubbing languages:</p>
                        <p>Developer:</p>
                        <!-- </li> -->
                        <!-- <button class="overlay-close" type="button">Close</button> -->
                </div>
            </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Farcry3.jpg" alt="іконка гри Far Cry 3" class="card-img">
                    <p class="card-name">Far Cry 3</p>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Rust.jpg" alt="іконка гри Rust" class="card-img">
                    <p class="card-name">Rust</p>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Stalker.jpg" alt="іконка гри S.T.A.L.K.E.R" class="card-img">
                    <p class="card-name">S.T.A.L.K.E.R</p>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Farcry4.jpg" alt="іконка гри Far Cry 4" class="card-img">
                    <p class="card-name">Far Cry 4</p>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Metro-exodus.jpg" alt="іконка гри METRO EXODUS" class="card-img">
                    <p class="card-name">METRO EXODUS</p>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Mafia2.jpg" alt="іконка гри Mafia 2" class="card-img">
                    <p class="card-name">Mafia 2</p>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/GTA5.jpg" alt="іконка гри GTA 5" class="card-img">
                    <p class="card-name">GTA 5</p>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/GTA4.jpg" alt="іконка гри GTA 4" class="card-img">
                    <p class="card-name">GTA 4</p>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Deltaarune.jpg" alt="іконка гри Deltarune" class="card-img">
                    <p class="card-name">Deltarune</p>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Detroid.jpg" alt="іконка гри Detroit" class="card-img">
                    <p class="card-name">Detroit</p>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Halo-infinite.jpg" alt="іконка гри Halo Infinite" class="card-img">
                    <p class="card-name">Halo Infinite</p>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Horizon.jpg" alt="іконка гри Horizon Zero Dawn" class="card-img">
                    <p class="card-name">Horizon Zero Dawn</p>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Hello-neighbor.jpg" alt="іконка гри Hello Neighbor"
                        class="card-img">
                    <p class="card-name">Hello Neighbor</p>
                </a>
            </li>
            <li class="gallery-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/RDR2 20.jpg" alt="іконка гри RDR 2" class="card-img">
                    <p class="card-name">RDR 2</p>
                </a>
            </li>
            <li class="gallery-item" id="last-item">
                <a href="" class="gallery-link">
                    <img src="images/gallery-img/Cuerpunk2077.jpg" alt="іконка гри Cyberpunk 2077" class="card-img">
                    <p class="card-name">Cyberpunk 2077</p>
                </a>
            </li>
        </ul>
    </div>
</section>