<header>
    <div class="header-container">
        <a class="logo" href="./"><span>Top</span>Games</a>
    <nav>
        <ul class="nav-list">
            <li class="list-item">
                <a class="nav-link current" href="./">Головна</a>
            </li>
            <li class="list-item">
                <a class="nav-link" href="popularity.html">Популярне</a>
            </li>
            <li class="list-item">
                <a class="nav-link" href="">Про нас</a>
            </li>
        </ul>
    </nav>
    <div class="authorization">
        <button class="btn" type="button" data-modal-open>Sign-Up</button>
        <button class="btn" type="button" data-open>Log-In</button>
    </div>
    </div>
</header>