 <!-- log-in -->
  <div class="backdrop hidden" data>
        <div class="modal log-in">
            <button type="button" class="modal-button" data-close></button>
             <!-- Form log-in -->
            <form class="form js-speaker-form" autocomplete="on">
                <h3 class="title">Log In</h3>
                <ul class="fields">
                    <li class="field name">
                        <label class="user-name" for="user-name">Username</label>
                            <input 
                                class="form-field log"
                                type="text"
                                name="user-name"
                                id="user-name" 
                                placeholder="Username">
                    </li>
                    <li class="field password">
                        <label class="pin" for="password">Password</label>
                            <input 
                                class="form-field log"
                                type="password"
                                name="password"
                                id="password" 
                                placeholder="Password">
                </ul>
                    <button type="submit" class="log-in-btn">Log In</button>
                <div class="checkbox">
                    <label class="field-label" for="checkbox">
                        <input class="field-checkbox" type="checkbox" name="checkbox" id="checkbox" value="checkbox"/>
                        <!-- <svg class="checkbox-icon" width="8" height="8">
                            <use href="images/close.svg"></use>
                        </svg> -->
                        Remember me
                    </label>
                </div>
                <div class="account">
                    <p class="have-an-account">Don't have an account?</p>
                    <a class="account-log-in" href="./index.html">Sign up</a>
                </div>
            </form>
        </div>
    </div>