<!-- Beyond modal -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal-beyond">
<button type="button" class="modals-button" data-modal-close></button>
    <!-- Modal window form -->
    <form class="form js-speaker-form" autocomplete="on">
        <img class="modal-icon" src="../images/modal-icons/Beyond.png" alt="Beyond">
        <p class="game-information">Name: Beyond two souls</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
    </form>
</div>
</div>
<!-- Far Cry 3 modal -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal-far-cry-III">
<button type="button" class="modals-button" data-modal-close></button>
<!-- Modal window form -->
<form class="form js-speaker-form" autocomplete="on">
<img class="modal-icon" src="../images/modal-icons/Far-cry-3.png" alt="Far cry 3">
<p class="game-information">Name: Far cry 3</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
    </form>
</div>
</div>
<!-- Rust modal -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal-rust">
<button type="button" class="modals-button" data-modal-close></button>
<!-- Modal window form -->
<form class="form js-speaker-form" autocomplete="on">
<img class="modal-icon" src="../images/modal-icons/Rust.png" alt="Rust">
<p class="game-information">Name: Rust</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
    </form>
</div>
</div>
<!-- Stalker modal -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal-stalker">
<button type="button" class="modals-button" data-modal-close></button>
<!-- Modal window form -->
<form class="form js-speaker-form" autocomplete="on">
<img class="modal-icon" src="../images/modal-icons/Stalker.png" alt="Stalker">
<p class="game-information">Name: S.T.A.L.K.E.R</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
    </form>
</div>
</div>
<!-- Far cry 4 modal -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal-far-cry-IV">
<button type="button" class="modals-button" data-modal-close></button>
<!-- Modal window form -->
<form class="form js-speaker-form" autocomplete="on">
<img class="modal-icon" src="../images/modal-icons/Far-cry-IV.png" alt="Far cry 4">
<p class="game-information">Name: Far cry 4</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
    </form>
</div>
</div>
<!-- Metro Exodus -->
    <div class="backdrop is-hidden" data-modal>
        <div class="modal-metro">
    <button type="button" class="modals-button" data-modal-close></button>
<!-- Modal window form -->
<form class="form js-speaker-form" autocomplete="on">
<img class="modal-icon" src="../images/modal-icons/Metro.png" alt="Metro">
<p class="game-information">Name: Metro Exodus</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
    </form>
</div>
</div>
<!-- Mafia II modal -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal-mafia-II">
<button type="button" class="modals-button" data-modal-close></button>
<!-- Modal window form -->
<form class="form js-speaker-form" autocomplete="on">
<img class="modal-icon" src="../images/modal-icons/Mafia-II.png" alt="Mafia 2">
<p class="game-information">Name: Mafia 2</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
    </form>
</div>
</div>
<!-- GTA 5 modal -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal-gta-V">
<button type="button" class="modals-button" data-modal-close></button>
<!-- Modal window form -->
<form class="form js-speaker-form" autocomplete="on">
<img class="modal-icon" src="../images/modal-icons/GTA V.png" alt="GTA 5">
<p class="game-information">Name: GTA 5</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
    </form>
</div>
</div>
<!-- GTA 4 modal -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal-gta-IV">
<button type="button" class="modals-button" data-modal-close></button>
<!-- Modal window form -->
<form class="form js-speaker-form" autocomplete="on">
<img class="modal-icon" src="../images/modal-icons/GTA IV.png" alt="GTA 4">
<p class="game-information">Name: GTA 4</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
    </form>
</div>
</div>
<!-- Deltarune modal -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal-deltarune">
<button type="button" class="modals-button" data-modal-close></button>
<!-- Modal window form -->
<form class="form js-speaker-form" autocomplete="on">
<img class="modal-icon" src="../images/modal-icons/Deltarune.png" alt="Deltarune">
<p class="game-information">Name: Deltarune</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
    </form>
</div>
</div>
<!-- Detroit modal -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal-detroit">
<button type="button" class="modals-button" data-modal-close></button>
<!-- Modal window form -->
<form class="form js-speaker-form" autocomplete="on">
<img class="modal-icon" src="../images/modal-icons/Detroit.png" alt="Detroit">
<p class="game-information">Name: Detroit</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
    </form>
</div>
</div>
<!-- Hallo Infinite modal -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal-hallo-infinite">
<button type="button" class="modals-button" data-modal-close></button>
<!-- Modal window form -->
<form class="form js-speaker-form" autocomplete="on">
<img class="modal-icon" src="../images/modal-icons/Hallo-Infinite.png" alt="Hallo Infinite">
<p class="game-information">Name: Hallo Infinite</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
    </form>
</div>
</div>
<!-- Horizon modal -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal-horizon">
<button type="button" class="modals-button" data-modal-close></button>
<!-- Modal window form -->
<form class="form js-speaker-form" autocomplete="on">
<img class="modal-icon" src="../images/modal-icons/Horizon.png" alt="Horizon">
<p class="game-information">Name: Horizon</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
    </form>
</div>
</div>
<!-- Hello Neighbor -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal-hello-heighbor">
<button type="button" class="modals-button" data-modal-close></button>
<!-- Modal window form -->
<form class="form js-speaker-form" autocomplete="on">
<img class="modal-icon" src="../images/modal-icons/Hello-Neighbor.png" alt="Hello Neighbor">
<p class="game-information">Name: Hello Neighbor</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
    </form>
</div>
</div>
<!-- RDR 2 modal -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal-RDR-II">
<button type="button" class="modals-button" data-modal-close></button>
<!-- Modal window form -->
<form class="form js-speaker-form" autocomplete="on">
<img class="modal-icon" src="../images/modal-icons/RDR-II.png" alt="RDR 2">
<p class="game-information">Name: RDR 2</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
    </form>
</div>
</div>
<!-- Cyberpunk 2077 -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal-cyberpunk-MMLXXVII">
<button type="button" class="modals-button" data-modal-close></button>
<!-- Modal window form -->
<form class="form js-speaker-form" autocomplete="on">
<img class="modal-icon" src="../images/modal-icons/Cyberpunk-MMLXXVII.png" alt="Cyberpunk 2077">
<p class="game-information">Name: Cyberpunk 2077</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
    </form>
</div>
</div>
