<div class="overlay">
    <img class="overlay-icon" src="../images/modal-icons/Beyond.png" alt="Beyond">
    <li class="game-information">
    <p>Name: Beyond two souls</p>
        <p>Genre:</p>
        <p>Languages:</p>
        <p>Dubbing languages:</p>
        <p>Developer:</p>
        </li>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay">
    <img class="overlay-icon" src="../images/modal-icons/Far-cry-3.png" alt="Far cry 3">
    <li class="game-information">
    <p>Name: Far cry 3</p>
        <p>Genre:</p>
        <p>Languages:</p>
        <p>Dubbing languages:</p>
        <p>Developer:</p>
        </li>
        <button class="overlay-close" type="button">Close</button>

</div>
<div class="overlay">
    <img class="overlay-icon" src="../images/modal-icons/Rust.png" alt="Rust">
    <li class="game-information">    
    <p>Name: Rust</p>
        <p>Genre:</p>
        <p>Languages:</p>
        <p>Dubbing languages:</p>
        <p>Developer:</p>
        </li>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay">
    <img class="overlay-icon" src="../images/modal-icons/Stalker.png" alt="Stalker">
    <li class="game-information">    
    <p>Name: S.T.A.L.K.E.R</p>
        <p>Genre:</p>
        <p>Languages:</p>
        <p>Dubbing languages:</p>
        <p>Developer:</p>
        </li>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay">
    <img class="overlay-icon" src="../images/modal-icons/Far-cry-IV.png" alt="Far-cry-IV">
    <li class="game-information">
    <p>Name: Far-cry-IV</p>
        <p>Genre:</p>
        <p>Languages:</p>
        <p>Dubbing languages:</p>
        <p>Developer:</p>
        </li>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay">
    <img class="overlay-icon" src="../images/modal-icons/Metro.png" alt="Metro">
    <li class="game-information">
    <p>Name: Metro Exodus</p>
        <p>Genre:</p>
        <p>Languages:</p>
        <p>Dubbing languages:</p>
        <p>Developer:</p>
       </li>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay">
    <img class="overlay-icon" src="../images/modal-icons/Mafia-II.png" alt="Mafia-II">
    <li class="game-information">
    <p>Name: Mafia 2</p>
        <p>Genre:</p>
        <p>Languages:</p>
        <p>Dubbing languages:</p>
        <p>Developer:</p>
        </li>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay">
    <img class="overlay-icon" src="../images/modal-icons/GTA-V.png" alt="GTA-V">
    <li class="game-information">
    <p>Name: GTA 5</p>
        <p>Genre:</p>
        <p>Languages:</p>
        <p>Dubbing languages:</p>
        <p>Developer:</p>
        </li>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay">
    <img class="overlay-icon" src="../images/modal-icons/GTA-IV.png" alt="GTA-IV">
    <li class="game-information">
    <p>Name: GTA 4</p>
        <p>Genre:</p>
        <p>Languages:</p>
        <p>Dubbing languages:</p>
        <p>Developer:</p>
       </li>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay">
    <img class="overlay-icon" src="../images/modal-icons/Deltarune.png" alt="Deltarune">
    <li class="game-information">
    <p>Name: Deltarune</p>
        <p>Genre:</p>
        <p>Languages:</p>
        <p>Dubbing languages:</p>
        <p>Developer:</p>
        </li>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay">
    <img class="overlay-icon" src="../images/modal-icons/Detroit.png" alt="Detroit">
    <li class="game-information">
    <p>Name: Detroit</p>
        <p>Genre:</p>
        <p>Languages:</p>
        <p>Dubbing languages:</p>
        <p>Developer:</p>
       </li>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay">
    <img class="overlay-icon" src="../images/modal-icons/Hallo-Infinite.png" alt="Hallo Infinite">
    <li class="game-information">
    <p>Name: Hallo Infinite</p>
        <p>Genre:</p>
        <p>Languages:</p>
        <p>Dubbing languages:</p>
        <p>Developer:</p>
        </li>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay">
    <img class="overlay-icon" src="../images/modal-icons/Horizon.png" alt="Horizon">
    <li class="game-information">
    <p>Name: Horizon</p>
        <p>Genre:</p>
        <p>Languages:</p>
        <p>Dubbing languages:</p>
        <p>Developer:</p>
       </li>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay">
    <img class="overlay-icon" src="../images/modal-icons/Hello-Neighbor.png" alt="Hello Neighbor">
    <li class="game-information">
      <p>Name: Hello Neighbor</p>
        <p>Genre:</p>
        <p>Languages:</p>
        <p>Dubbing languages:</p>
        <p>Developer:</p>  
    </li>    
    <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay">
    <img class="overlay-icon" src="../images/modal-icons/RDR-II.png" alt="RDR II">
        <p>Name: RDR 2</p>
        <p>Genre:</p>
        <p>Languages:</p>
        <p>Dubbing languages:</p>
        <p>Developer:</p>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay">
    <img class="overlay-icon" src="../images/modal-icons/Cyberpunk-MMLXXVII.png" alt="Cyberpunk MMLXXVII">
        <p>Name: Cyberpunk 2077</p>
        <p>Genre:</p>
        <p>Languages:</p>
        <p>Dubbing languages:</p>
        <p>Developer:</p>
        <button class="overlay-close" type="button">Close</button>
</div>