<div class="overlay-beyond">
    <img class="overlay-icon" src="../images/modal-icons/Beyond.png" alt="Beyond">
        <p class="game-information">Name: Beyond two souls</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay-far-cry-III">
    <img class="overlay-icon" src="../images/modal-icons/Far-cry-3.png" alt="Far cry 3">
    <p class="game-information">Name: Far cry 3</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
        <button class="overlay-close" type="button">Close</button>

</div>
<div class="overlay-rust">
    <img class="overlay-icon" src="../images/modal-icons/Rust.png" alt="Rust">
        <p class="game-information">Name: Rust</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay-stalker">
    <img class="overlay-icon" src="../images/modal-icons/Stalker.png" alt="Stalker">
        <p class="game-information">Name: S.T.A.L.K.E.R</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay-far-cry-IV">
    <img class="overlay-icon" src="../images/modal-icons/Far-cry-IV.png" alt="Far-cry-IV">
        <p class="game-information">Name: Far-cry-IV</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay-metro">
    <img class="overlay-icon" src="../images/modal-icons/Metro.png" alt="Metro">
        <p class="game-information">Name: Metro Exodus</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay-mafia-II">
    <img class="overlay-icon" src="../images/modal-icons/Mafia-II.png" alt="Mafia-II">
        <p class="game-information">Name: Mafia 2</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay-gta-V">
    <img class="overlay-icon" src="../images/modal-icons/GTA-V.png" alt="GTA-V">
        <p class="game-information">Name: GTA 5</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay-gta-IV">
    <img class="overlay-icon" src="../images/modal-icons/GTA-IV.png" alt="GTA-IV">
        <p class="game-information">Name: GTA 4</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay-deltarune">
    <img class="overlay-icon" src="../images/modal-icons/Deltarune.png" alt="Deltarune">
        <p class="game-information">Name: Deltarune</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay-detroit">
    <img class="overlay-icon" src="../images/modal-icons/Detroit.png" alt="Detroit">
        <p class="game-information">Name: Detroit</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay-hallo-infinite">
    <img class="overlay-icon" src="../images/modal-icons/Hallo-Infinite.png" alt="Hallo Infinite">
        <p class="game-information">Name: Hallo Infinite</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay-horizon">
    <img class="overlay-icon" src="../images/modal-icons/Horizon.png" alt="Horizon">
        <p class="game-information">Name: Horizon</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay-hello-neighbor">
    <img class="overlay-icon" src="../images/modal-icons/Hello-Neighbor.png" alt="Hello Neighbor">
        <p class="game-information">Name: Hello Neighbor</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay-RDR-II">
    <img class="overlay-icon" src="../images/modal-icons/RDR-II.png" alt="RDR II">
        <p class="game-information">Name: RDR 2</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
        <button class="overlay-close" type="button">Close</button>
</div>
<div class="overlay-cyberpunk-MMLXXVII">
    <img class="overlay-icon" src="../images/modal-icons/Cyberpunk-MMLXXVII.png" alt="Cyberpunk MMLXXVII">
        <p class="game-information">Name: Cyberpunk 2077</p>
        <p class="game-information">Genre:</p>
        <p class="game-information">Languages:</p>
        <p class="game-information">Dubbing languages:</p>
        <p class="game-information">Developer:</p>
        <button class="overlay-close" type="button">Close</button>
</div>