<!-- Sign-up -->
    <div class="backdrop is-hidden" data-modal>
        <div class="sign-up">
            <button type="button" class="modal-button" data-modal-close></button>
            <!-- Form sign-up -->
            <form class="form js-speaker-form" autocomplete="on">
                <h3 class="title">Sign Up</h3>
                <ul class="fields">
                    <li class="field name">
                        <label class="label-text" for="user-name">Username</label>
                            <input 
                                class="form-field"
                                type="text"
                                name="user-name"
                                id="user-name" 
                                placeholder="Username">
                    </li>
                    <li class="field email">
                        <label class="label-text E-Mail" for="email">E-Mail</label>
                            <input 
                                class="form-field"
                                type="email"
                                name="email"
                                id="email"
                                placeholder="E-Mail" >
                    <li class="field password">
                        <label class="label-text Password" for="password">Password</label>
                            <input 
                                class="form-field"
                                type="password"
                                name="password"
                                id="password" 
                                placeholder="Password">
                </ul>
                    <button type="submit" class="sign-up-btn">Sign Up</button>
                <div class="checkbox">
                    <label class="field-label" for="checkbox">
                        <input class="field-checkbox" type="checkbox" name="checkbox" id="checkbox" value="checkbox"/>
                        <!-- <svg class="checkbox-icon" width="8" height="8">
                            <use href="images/close.svg"></use>
                        </svg> -->
                        Remember me
                    </label>
                </div>
                <div class="account">
                    <p class="have-an-account">Already have an account?</p>
                    <a class="account-log-in" href="">Log In</a>
                </div>
            </form>
        </div>
    </div>