<section class="section">
    <div class="container">
        <h2 class="section-title">Screenshots</h2>
        <ul class="screenshots-list">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-arrow-left">
                <line y1="-0.5" x2="15" y2="-0.5" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 10.6064 21.2132)" stroke="black"/>
                <line y1="-0.5" x2="15" y2="-0.5" transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 0 10.6066)" stroke="black"/>
            </svg>
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-arrow-right">
                <line x1="10.2529" y1="20.8596" x2="20.8595" y2="10.253" stroke="black"/>
                <line x1="20.8593" y1="10.9602" x2="10.2527" y2="0.35355" stroke="black"/>
            </svg>
            <li class="screenshot-item"><img src="/src/images/screenshot1.jpg" alt="Кадр гри"></li>
            <li class="screenshot-item"><img src="/src/images/screenshot2.jpg" alt="Кадр гри"></li>
            <li class="screenshot-item"><img src="/src/images/screenshot3.jpg" alt="Кадр гри"></li>
            <li class="screenshot-item"><img src="/src/images/screenshot4.jpg" alt="Кадр гри"></li>
            <li class="screenshot-item"><img src="/src/images/screenshot5.jpg" alt="Кадр гри"></li>
            <li class="screenshot-item"><img src="/src/images/screenshot6.jpg" alt="Кадр гри"></li>
        </ul>
    </div>
</section>