<section class="section">
    <div class="container">
        <h2 class="section-title">Screenshots</h2>
        <ul class="screenshots-list">
            <li class="screenshot-item"><img src="/src/images/screenshot1.jpg" alt=""></li>
            <li class="screenshot-item"><img src="/src/images/screenshot2.jpg" alt=""></li>
            <li class="screenshot-item"><img src="/src/images/screenshot3.jpg" alt=""></li>
            <li class="screenshot-item"><img src="/src/images/screenshot4.jpg" alt=""></li>
            <li class="screenshot-item"><img src="/src/images/screenshot5.jpg" alt=""></li>
            <li class="screenshot-item"><img src="/src/images/screenshot6.jpg" alt=""></li>
        </ul>
    </div>
</section>