body {
    color: $primeryTextColor;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    height: auto;
    width: 100%;
}
body {
    $primeryTextColor: #000000;
    $backgroundFiltersColor: #DBDBDB;
    $headerColor: #464646;
    font-family: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
}

.section-screenshots{
    @media (max-width: 768px) {
        margin-bottom: 22px;
    }
    
    @media (min-width: 768px) {
        margin-bottom: 42px;
    }

    @media (min-width: 1240px) {
        margin-bottom: 46px;
    }
}

.section-title{
    @media (max-width: 768px) {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 11px;
        text-align: center;
    }
    
    @media (min-width: 768px) {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 22px;
        text-align: center;
    }

    @media (min-width: 1240px) {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 27px;
    }
}

.screenshots-list{
    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px -9px;
    }

    @media (min-width: 1240px) {
        display: flex;
        flex-wrap: wrap;
        margin: -23px -30px;
    }
}

.screenshot-item{
    @media (max-width: 768px) {
        width: 183px;
        height: 101px;
        margin: auto;

        &:not(:last-child){
            margin-bottom: 11px;
        }
    }

    @media (min-width: 768px) {
        width: calc((100% - 9px * 6) / 3);
        margin: 15px 9px;
    }

    @media (min-width: 1240px) {
        width: calc((100% - 30px * 6) / 3);
        margin: 23px 30px;
    }
}

.logo{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #293565;
    text-decoration: none;
    padding-left: 101px;
    padding-top: 52px;
    padding-bottom: 52px;
    }
    
    span{
    color: #000000;
    }
    
    .nav-list{
        display: flex;
        list-style: none;
        margin-left: 220px;
        justify-content: center;
        padding-top: 51px;
    }
    
    header{
        display: flex;
        background: url(../images/frame.jpg);
        opacity: 0.7;
    }
    
    .list-item:not(:last-child){
        margin-right: 67px;
        padding: 0;
    }
    
    .nav-link{
        text-decoration: none;
        font-family: 'Merriweather Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 25px;
        color: #000000;
    }
    
    .current{
        border-bottom: 1px solid #000000;
    }
    
    .open-sign-up{
        position: absolute;
        top: 30px;
        right: 50px;
        width: 80px;
        height: 40px;
        border-radius: 10px;
        color: #ffffff;
        background-color: #000000;
    }
    
    .open-sign-up:active,
    .open-log-in:active {
      transform: translateY(1px);
      filter: saturate(200%);
    }
    
    .open-sign-up:hover,
    .open-log-in:hover{
        color: black;
        background-color: #ffffff;
        transition: background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    .open-log-in{
        position: absolute;
        top: 90px;
        right: 50px;
        width: 80px;
        height: 40px;
        border-radius: 10px;
        color: #ffffff;
        background-color: #000000;
    }