.gallery-list{
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 767x) {
        margin: -16px;
    }

    @media (min-width: $tablet) {
        margin: -18px;
    }

    @media (min-width: $desktop) {
        margin: -16px;
    }
    
}

.gallery-item {    
    border-radius: 16px;
    background-color: #D9D9D9;
    width: calc((100% - 8 * 23px) / 4);
    position:relative;
    overflow: hidden;

    @media (max-width: 767px) {
        width: calc((100% - 4 * 16px) / 2);
        margin: 16px;
    }

    @media (min-width: $tablet) {
        width: calc((100% - 6 * 18px) / 3);
        margin: 18px;
    }

    @media (min-width: $desktop) {
        width: calc((100% - 8 * 23px) / 4);
        margin: 23px;
    }
}
.gallery-link{
    display: inline-block;

    @media (max-width: 767px) {
        padding: 11px 14px;
    }

    @media (min-width: $tablet) {
        padding: 21px 25px;
    }

    @media (min-width: $desktop) {
        padding: 31px;
    }
}

.card-img{
    @media (max-width: 767px) {
        max-width: 79px;
        margin-bottom: 11px;
    }

    @media (min-width: $tablet) {
        width: 134px;
        margin-bottom: 25px;
    }

    @media (min-width: $desktop) {
        width: 172px;
        margin-bottom: 21px;
    }
}

.card-name{
    color: #000000;
    font-family: 'Poppins';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    margin: 0;

    @media (max-width: 767px) {
        font-size: 10px;
        line-height: 15px;
    }

    @media (min-width: $tablet) {
        font-size: 16px;
        line-height: 24px;
    }

    @media (min-width: $desktop) {
        font-size: 24px;
        line-height: 36px;
    }
}

#last-item{
    @media (min-width: $tablet) {
        display: none;
    }

    @media (min-width: $desktop) {
        display: block;
    }
}