.hero-section{
    background-color: #2f303a;
    max-width: 1440px;
    height: 598px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 221px;
    padding-bottom: 221px;  
    
    text-align: center;    
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),    url("/src/images/hero-img/Rectangle\ 22.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
}

.hero-h1{  
    display: inline-block; 
    margin: 0;
    width: 445px;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
    @media (min-width: $tablet) {
        font-size: 24px;
     line-height: 36px;
    }
    @media (min-width: $mobile) {
        font-size: 10px;
line-height: 15px;
    }
}
.hero-h1 .hero-span{
    font-weight: 400;  
    color: #FFFFFF;
    @media (min-width: $tablet) {
        font-size: 24px;
        line-height: 36px;
    }
    @media (min-width: $mobile) {
        font-size: 10px;
       line-height: 15px;
    }
}