.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #92ffd0;
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    margin-top: -70px;
    margin-left: -70px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #0a243c;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  .preloader__item:nth-child(2){
    top: auto;
    bottom: 20%;
    animation-delay: -2s;
  }
  .preloader__item:nth-child(3){
    top: auto;
    bottom: 100%;
    animation-delay: -3s;
  }

  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);

    }
  
    50% {
      transform: scale(1);
      background-color:  #3a79b3;
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }