.section-screenshots{
    @media (max-width: 767px) {
        margin-bottom: 22px;
    }
    
    @media (min-width: $tablet) {
        margin-bottom: 42px;
    }

    @media (min-width: $desktop) {
        margin-bottom: 46px;
    }
}

.section-title{
    @media (max-width: 767px) {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 11px;
        text-align: center;
    }
    
    @media (min-width: $tablet) {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 22px;
        text-align: center;
    }

    @media (min-width: $desktop) {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 27px;
    }
}

.screenshots-list{
    @media (max-width: 767px) {
        position: relative;
    }
    @media (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px -9px;
    }

    @media (min-width: $desktop) {
        display: flex;
        flex-wrap: wrap;
        margin: -23px -30px;
    }
}

.svg-arrow-left{
    @media (max-width: 767px) {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
    }
    @media (min-width: $tablet) {
        display: none;
    }
}

.svg-arrow-right{
    @media (max-width: 767px) {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -20px;
    }
    @media (min-width: $tablet) {
        display: none;
    }
}

.screenshot-item{
    @media (max-width: 767px) {
        width: 183px;
        height: 101px;

        &:nth-child(8){
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
        }

        &:nth-child(4){
            position: absolute;
            width: 80px;
            height: 44px;
            top: 50%;
            left: 5%;
            transform: translateY(-50%);
            z-index: 2;
            opacity: .6;
        }

        &:nth-child(3){
            position: absolute;
            width: 80px;
            height: 44px;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);
            z-index: 2;
            opacity: .6;
        }
        
        &:nth-child(7),
        &:nth-child(6),
        &:nth-child(5),
        &:nth-child(2),
        &:nth-child(1){
            display: none;
        }
    }

    @media (min-width: $tablet) {
        width: calc((100% - 9px * 6) / 3);
        margin: 15px 9px;
    }

    @media (min-width: $desktop) {
        width: calc((100% - 30px * 6) / 3);
        margin: 23px 30px;
    }
}