.filter-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-items{
    display: flex;
    align-items: center;
}
.button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #000000;
    margin-top: 41px;
    margin-bottom: 41px;
}
.search{
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 476px;
    height: 55px;
    border-radius: 55px;
    padding-left: 36px;
    margin-right: 18px;
    margin-left: 26px;
    background: #DBDBDB;
    border: none;
}
.filter{
    width: 46px;
    height: 30px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    border: none;
    -webkit-appearance: none;
    appearance: none;
}
.filter:hover,
.filter:focus{
    box-sizing: none;
}
.svg-filter{
    padding: 13px;
}